<mat-toolbar> Wallet</mat-toolbar>
<div >
  <mat-card class="headerCart">
    <div id="myHeader">
      <div class="headerHash">Hashcode</div>
      <div class="headerElem">Seller</div>
      <div class="headerElem">Date</div>
      <div class="headerElem">Total Costs</div>
      <div class="headerElem"></div>
    </div>
  </mat-card>
  <mat-card class="invoice" *ngFor="let invoiceElement of invoice">
    <div class="invoiceElement">
      <div class="eleHash">{{invoiceElement.hash}}</div>

      <div class="ele">{{invoiceElement.invoice.seller.name}}</div>
      <div class="ele">{{getDate(invoiceElement)}}</div>
      <div class="ele">{{invoiceElement.invoice.totalCostBrutto}}€</div>

      <button class="ele" mat-raised-button matTooltip="Rechnung anzeigen und downloaden"
              (click)="openDialog(invoiceElement)">Rechnung
      </button>

    </div>
  </mat-card>
</div>

