<html>
<head>
</head>
<body>
<mat-toolbar> Wallet</mat-toolbar>
<mat-card class="invoice" *ngFor="let invoiceElement of invoice">
  <div class="invoiceElement">
    <div class="ele">{{invoiceElement.hash}}</div>

    <div class="ele">{{invoiceElement.invoice.seller.name}}</div>
    <div class="ele">{{getDate(invoiceElement)}}</div>
    <div class="ele">{{invoiceElement.invoice.totalCostBrutto}}</div>

    <button mat-raised-button matTooltip="Rechnung anziegen und Downloaden" (click)="openDialog(invoiceElement)">Öffne Quittung</button>

  </div>
</mat-card>

</body>
</html>
